@font-face {
    font-family: "Frutiger";
    src: url(./img/Frutiger_Roman.ttf);
}

@font-face {
    font-family: "popins";
    src: url(./img/Poppins-SemiBold.ttf);
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Frutiger";
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 100;
}

.navbar__main {
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.menu {
    font-size: 20px;
    position: relative;
    right: 200px;
    display: none;
}

.navbar__one {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.navbar__one img {
    width: 40px;
}

.navbar__one h1 {
    font-size: 23px;
}

.navbar__two {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
    margin-right: 50px;
    cursor: pointer;
    width: 50%;

}

.nv__two__one {
    padding: 10px;
}

.nv__two__two {
    padding: 10px;
}

.nv__two__three {
    padding: 10px;
}

.nv__two__four {
    padding: 10px;
}

.nv__two__one:hover {
    background-color: #b3eed8;
    border-radius: 30px;
}

.nv__two__two:hover {
    background-color: #b3eed8;
    border-radius: 30px;
}

.nv__two__three:hover {
    background-color: #b3eed8;
    border-radius: 30px;
}

.nv__two__four:hover {
    background-color: #b3eed8;
    border-radius: 30px;
}

.navbar__three {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar__three__element {
    display: flex;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
}

.navbar__three i {
    font-size: 21px;
    margin-right: 5px;
}

.navbar__three {
    justify-content: center;
    align-items: center;
}

.navbar__three--button {
    margin-left: 5px;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
}

.navbar__three--line {
    opacity: 0.3;
}

.navbar__three--button {
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    border-radius: 30px;
    text-align: center;
}

.navbar__three__element:hover {
    background: #b3eed8;
    border-radius: 30px;
}

.category {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 12px;
    height: 30px;
    width: 100%;
}

.category__element__one {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.category__element__one i {
    font-size: 21px;
}

.category__element :hover {
    border-bottom: solid black 2px;
    position: static;
}

.category__element__one :hover {
    border-bottom: transparent;
    position: static;
}

.category__main p {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    /* font-weight: bolder; */
    font-size: 60px;
    font-family: "popins";
}

.category__main .para__two {
    display: none;
}

.category__element__one:hover .para__two {
    display: block;
}

.searchbar {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.searchbar__box {
    border: 1px solid transparent;
    border-radius: 30px;
    width: 50%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.searchbar__elements input {
    border: transparent;
    width: 90%;
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
}

.searchbar__elements input:focus {
    outline: none;
}

.searchbar__elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbar__elements i {
    margin-left: 10px;
    font-size: 21px;
    cursor: pointer;
}

.searchbar__elements h2 {
    background-color: #34E0A1;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.searchbar__elements h2:hover {
    background-color: #5bd5a9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.main__img {
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: 70%;
    position: relative;
}

.main__img__one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__img__one img {
    width: 71%;
    margin-right: 70px;
    margin-left: 40px;
    border-radius: 10px;
}

.main__img__element {
    position: absolute;
    top: 70%;
    left: 20%;
    color: white;
}

.main__img__element__button {
    background-color: white;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    border-radius: 30px;
    border: transparent;
    cursor: pointer;
    
}

.recommended {
    padding: 20px;
    width: 90%;
}

.recommended h1 {
    margin-top: 10px;
    width: 50%;
    margin-left: 15%;
}

.recommended p {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 15%;
}

.recommended__img {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 20px;
    margin-left: 15%;;
    margin-right: 5%;
    cursor: pointer;
}

.recommended__img__main {
    flex-grow: 1;
    flex-basis: 30%;
    position: relative;
}

.recommended__img__main img {
    width: 100%;
    height: 130%;
    border-radius: 10px;
}

.recommended__img__main img:hover {
    opacity: 0.9;
}

.recommended__img__main h2 {
    position: absolute;
    top: 100%;
    bottom: 10%;
    left: 5%;
    color: white;
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.87);
}

.recommended__two {
    padding: 10px;
    margin-top: 60px;
    margin-left: 15%;
}

.recommended__two p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.recommended__two__img {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-right: 15%;
}

.recommended__two__img {
    flex-grow: 1;
    flex-basis: 20%;
    cursor: pointer;
}

.recommended__two__img img {
    width: 100%;
    border-radius: 10px;

}

.recommended__two__img__main {
    position: relative;
}

.recommended__two__img__main h5 {
    text-align: center;
    margin-top: 10px;
}

.recommended__two__img__main h4 {
    text-align: center;
    margin-top: 10px;
}

.recommended__two__img__main p {
    text-align: center;
    height: 100%;
}

.recommended__two__img__main img:hover {
    opacity: 0.9;
}

.recommended__two__img__main h5:hover {
    text-decoration: underline;
}

.recommended__two__img__main h4:hover {
    text-decoration: underline;
}

.recommended__img__main__heart {
    z-index: 2;
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 20px;
    background-color: white;
    padding: 3%;
    border-radius: 100%;
    cursor: pointer;
}

.recommended__three {
    padding: 10px;
    margin-left: 15%
}

.recommended__three h1 {
    margin-top: 5px;
}

.recommended__three p {
    margin-top: 10px;
}

.recommended__three__img {
    display: flex;
    justify-content: space-between;
    margin-right: 14%;
    margin-top: 20px;
    gap: 20px;
}

.recommended__three__img__main {
    flex-grow: 1;
    flex-basis: 20%;
    cursor: pointer;
}

.recommended__three__img__main img {
    width: 100%;
    height: 65%;
    border-radius: 10px;
}

.recommended__three__img__main h5 {
    text-align: center;
    margin-top: 2%;
}

.recommended__three__img__main h4 {
    text-align: center;
    margin-top: 2%;
}

.recommended__three__img__main__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

.recommended__three__img__main__item i {
    margin-top: 2%;
}

.recommended__three__img__main__item h5 {
    margin-top: 1%;
}

.recommended__three__img__main img:hover {
    opacity: 0.9;
}

.recommended__three__img__main h5:hover {
    text-decoration: underline;
}

.recommended__three__img__main h4:hover {
    text-decoration: underline;
}

.most__explore {
    margin-top: 2%;
    padding: 10px;
    background-color: aliceblue;
}

.most__explore h1 {
    margin-top: 10px;
    margin-left:0%;
}

.most__explore__img {
    display: flex;
    justify-content: space-between;
    margin-left: 15%px;
    margin-right: 14%px;
    gap: 20px;
    margin-top: 20px;
}

.most__explore__img__main {
    flex-grow: 1;
    flex-basis: 20%;
    position: relative;
}

.most__explore__img__main img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.most__explore__img__main h4 {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 50px;
}

.most__explore__img__main__heart {
    background-color: #ff0059;
    padding: 2%;
    position: absolute;
    font-size: 20px;
    border-radius: 100%;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;

}

.most__explore__img__main__heart:hover {
    background-color: #5bd5a9;

}

.most__explore__img__main__heart p:hover {
    color: #ff0059;


}

.most__explore__img__main img:hover {
    opacity: 0.9;
}

.most__explore__img__main h4:hover {
    text-decoration: underline;
}

.top__trip {
    padding: 10px;
}

.top__trip h1 {
    margin-left: 15%;
    margin-top: 5%;
}

.top__trip p {
    margin-left: 15%;
    margin-top: 10px;
}

.top__trip__img {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right:14%;
    gap: 20px;
    margin-top: 20px;
}

.top__trip__img__main {
    flex-grow: 1;
    flex-basis: 20%;
    position: relative;
}

.top__trip__img__main img {
    width: 100%;
    height: 90%;
    border-radius: 10px;
    cursor: pointer;
}

.top__trip__img__main h2 {
    position: absolute;
    color: white;
    bottom: 15%;
    left: 4%;
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.87);
    cursor: pointer;
}

.top__trip__img__main img:hover {
    opacity: 0.9;
}

.sponsor {
    background-color: rgb(215, 224, 232);
    display: flex;
    margin-left: 15%;
    margin-right: 14%;
    width: 71%;
}

.sponsor__img {
    flex-grow: 1;
    flex-basis: 100%
    
}
.sponsor__img img{
    width:100%;
    margin: 3%;
}

.sponsor__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sponsor__content__logo a {
    color: black;
    margin-left: 5px;
}

.sponsor__content__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsor__content img {
    width: 5%;
    margin-right: 10px;
}

.sponsor__content p {
    font-weight: lighter;
    text-align: center;
    margin-top: 2%;
}

.sponsor__content h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.sponsor__content button {
    cursor: pointer;
    margin-top: 20px;
    background-color: black;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 30px;
    border: transparent;
    margin-bottom: 3%;
}

.sponsor__content button:hover {
    opacity: 0.9;
}

.rental {
    padding: 10px;
    margin-left: 15%;
    margin-top: 5%;
    margin-right: 14%;
}

.rental h1 {
    text-align: center;
    margin-bottom: 10px;
}

.rental h3 {
    text-align: center;
}

.rental__img {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;

}

.rental__img__main {
    flex-grow: 1;
    flex-basis: 20%;

}

.rental__img__main img {
    width: 100%;
    height: 70%;
    border-radius: 10px;
    cursor: pointer;
}

.rental__img__main h3 {
    cursor: pointer;
}

.rental__img__main h5 {
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
}

.rental__img__main img:hover {
    opacity: 0.9;
}

.footer {
    background-color: aliceblue;
    height: 100%;
}

.footer__set__one {

    padding: 10px;
    display: flex;
    gap: 10%;
}

.footer__containers__one {
    display: flex;
    margin-top: 20px;
    margin-left: 15%;
}

.footer__containers__element__one h4 {
    margin-bottom: 20px;
}

.footer__containers__element__one p {
    cursor: pointer;
    margin-bottom: 5px;
}

.footer__containers__element__one p:hover {
    text-decoration: underline;
    opacity: 0.5;
}

.footer__containers__element__two {
    margin-left: 50px;
}

.footer__containers__element__two h4 {
    margin-bottom: 20px;

}

.footer__containers__element__two p {
    margin-bottom: 5px;
    cursor: pointer;
}

.footer__containers__element__two p:hover {
    text-decoration: underline;
    opacity: 0.5;
}

.footer__containers__element__three {
    margin-left: 50px;
}

.footer__containers__element__three h4 {
    margin-bottom: 10px;
}

.footer__containers__element__three p {
    margin-bottom: 5px;
    cursor: pointer;
}

.footer__h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer__containers__element__three p:hover {
    opacity: 0.5;
    text-decoration: underline;

}

.footer__containers__two {
    margin-top: 20px;
}

.footer__containers__two p {
    margin-top: 10px;
}

.footer__containers__two a {
    color: black;
}

.footer__set__two {
    padding: 10px;
    display: flex;
}

.footer__containers__four{
    margin-left: 15%;
}

.footer__containers__four__element {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer__containers__four__element img {
    width: 40px;
}
.footer__containers__four__term{
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
    font-size: 13px;
    flex-wrap: wrap;
    cursor: pointer;
    text-decoration: underline;
    
}
.footer__containers__four__term h4:hover{
    
    opacity: 0.5;

}
.footer__containers__four__term__p{
    font-size: 10px;
}
.footer__containers__five{
    width: 100%;
    margin-bottom: 5%;
    position: relative;

}
.footer__containers__five__select{
    display: flex;
    margin-left: 5%;
    width: 100%;
}
.form__one select{
    border: 2px solid gainsboro;
    font-size: 16px;
   padding: 5px;
    border-radius: 10px;
    margin-left: 20px;
    position: relative;
    top: 40px;
    left: 10%;
}
.form__two select{
    border: 2px solid gainsboro;
    font-size: 16px;
   padding: 5px;
    border-radius: 10px;
    margin-left: 20px;
    position: relative;
    top: 40px;
    left: 10%;
}
.footer__icons{
    position: absolute;
    top: 10px;
    left: 10%;
}
.footer__icons i{
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}
@media screen and (max-width:1300px){
    .main__img__element__button{
        font-size: 10px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:1100px){
    body{
        font-size: 10px;
    }
    .navbar__main{
        font-size: 10px;
    }
    .navbar__three--button{
        font-size: 10px;
    }
    .category{
        font-size: 10px;
    }
    .main__img__element__button{
        font-size: 10px;
        margin-bottom: 10px;
    }
    .footer__set__two{
        display: block;
    }
    
}
@media screen and (max-width:900px) {
    .navbar__two{
        display: none;
    }
    .menu{
        display: inline-block;

    }
    .category{
        font-size: 8px;
    }
}
@media screen and (max-width:700px) {
    .category{
        font-size: 5px;
        gap: 5px;
    }
    .main__img__element__button{
        display: none;
    }
    .recommended__img__main h2{
        font-size: 8px;
    }
    .recommended__img__main__heart{
        font-size: 8px;
    }
    .recommended__two__img__main h4{
        font-family: 8px;
    }
    .recommended__three__img__main__item{
        display: none;
    }
    .most__explore__img__main h4{
        font-size: 8px;
    }
    .most__explore__img__main__heart p{
        font-size: 8px;
    }
    .top__trip__img__main h2{
        font-size: 8px;
    }
    .sponsor__content{
        font-size: 8px;
    }
    .sponsor__content button{
        font-size: 8px;
    }
    .rental__img__main h3{
        font-size: 8px;
    }
    .footer__containers__four__term{
        font-size: 8px;
    }
}